// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 8px 16px;
}

.navbar img {
  width: 25px;
}

.navbar-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.navbar-actions a {
  color: #27374D;
}
